h1 {  
    font-family: "Montserrat";  
    font-size: 3rem;  
    line-height: 1.5;  
    font-weight: 900;
}

#title{
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid{
    padding: 3%;
}

.navbar-brand{
    size: 1.5rem;
}

.navbar{
    padding: 0 0 4.5rem 0;
}

.nav-link{
    size: 1rem;
}
.button{
    margin: 5% 3% 5% 0;
}
.dog-img{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}



.f1{
    border: block;
    border-color: white;
    
    margin: auto;

}

.f2{
    border: block;
    border-color: white;
    margin: auto;

}

.f3{
    border: block;
    border-color: white;
    
    margin: auto;

}

.feature-1{
    text-align: center;
    display: inline-block;
    margin: auto;
    padding-bottom: 8%;
    padding-top: 8%;
}

.image{
    width: 5rem;
    height: 5rem;
}

#testimonials{
    text-align: center;
    background-color: #ff4c68;
    color: #fff;

    
}

.testi{
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 3rem;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ff4c68;
    text-align: center;
    padding: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}



.text-center {
    text-align: center!important;
}
.mb-3 {
    margin-bottom: 1rem!important;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    text-align: center;
    margin: auto;
}

#pricing{
    text-align: center;
}

#features{
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding: 0% 0% 3%;
}


@media (max-width: 1028px){
    .dog-img{
        position: static;
        width: 40%;
        transform: rotate(0);
    }
}



.end{
    text-align: center;
    background-color: #ff4c68;
    margin: 0;
    font-size: 1rem;
    color: #fff;
}

body{
    margin: 0;
}

p{
    margin: 0;
}